@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="hero">
    <div class="container">

        <div class="left_col">
            <div class="hero_cta">
                <a href="#" class="primary_cta">Go to schedule</a>

            </div>
        </div>

        <ul class="Films">
        </ul>

    </div>
</section>